/* GENERAL */
body {
    margin: 0;
}

.background {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.hxt {
    font-size: 2rem;
    color: hsl(210, 10%, 33%);
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1.4;
}

.hxt-md {
    font-size: 1.6rem;
}

.hxt-sl {
    font-size: 1.2rem;
    font-weight: 200;
}

.txt {
    font-size: 1rem;
    color: hsl(201, 11%, 66%);
    font-family: 'Bai Jamjuree', sans-serif;
    line-height: 1.6;
}

/* CONTAINER */
.container {
    width: 100%;
    text-align: center;
}

/* HEADER */
.header {
    position: relative;
    height: 900px;
    top: 150px;
}

.header-img {
    margin-bottom: 60px;
}

.header-txt {
    padding: 0 15%;
    margin-bottom: 40px;
}

.btn {
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #FFF;
}

.btn-ios {
    background-color: hsl(171, 66%, 44%);
}

.btn-ios:hover {
    background-color: hsl(171, 66%, 21%);
}

.btn-mac {
    background-color: hsl(233, 100%, 69%);
}

.btn-mac:hover {
    background-color: hsl(233, 100%, 21%);
}

/* BONUS */
.bonus {
    height: 1200px;
}

.bonus-txt {
    padding: 0 15%;
    margin-bottom: 70px;
}

.bonus-img {
    width: 60%;
    margin-bottom: 50px;
}

/* LIST */
.list {
    height: 1600px;
}

.list-txt {
    padding: 0 15%;
    margin-bottom: 100px;
}

.list-img {
    width: 60%;
    margin-bottom: 50px;
}

.list-item {
    padding: 0 15%;
    margin-bottom: 100px;
}

/* SPONSOR */
.sponsor {
    height: 650px;
}

.sponsor-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
}

/* DOWNLOAD */
.download {
    height: 500px;
}

/* FOOTER */
.footer {
    height: 550px;
    padding: 5%;
}

.footer-bg {
    background-color: hsla(202, 11%, 86%, 0.568);
    height: 550px;
}

.footer-img {
    margin-top: 70px;
    margin-bottom: 50px;
    width: 15%;
}

.footer-links {
    margin-bottom: 70px;
}

.footer-media-img {
    margin: 0 5%;
}

/* MOBILE */
@media (min-width: 1200px) {
    .header {
        height: 800px;
    }

    .btn {
        display: inline-block;
        margin: 20px 10px;
    }

    .header-txt {
        padding: 0 30%;
    }

    .bonus {
        position: relative;
        height: 1100px;
    }

    .bonus-img {
        position: absolute;
        width: 40%;
        left: 5%;
        top: 300px;
    }

    .bonus-p {
        position: absolute;
        right: 5%;
        width: 400px;
        text-align: left;
    }

    .bonus-p1 {

        top: 280px;
    }

    .bonus-p2 {
        top: 450px;
    }

    .bonus-p3 {
        top: 620px;
    }
    
    .list {
        height: 1350px;
    }

    .list-img {
        width: 40%;
    }

    .list-item {
        display: inline-block;
        padding: 0 4%;
        width: 18%;
    }

    .sponsor {
        height: 350px;
    }

    .sponsor-img {
        display: inline-block;
        margin: 0 4%;
    }

    .download {
        height: 400px;
    }

    .footer {
        height: 250px;
    }

    .footer-bg {
        position: relative;
        height: 300px;
    }

    .footer-img {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
        width: 5%;
        margin: 0;
    }

    .footer-links {
        position: absolute;
        left: 25%;
        top: 55%;
        transform: translateY(-50%);
        margin: 0;
        width: 50%;
        height: 80%;
        text-align: left;
    }

    .footer-links h3 {
        display: inline-block;
        height: 40%;
        width: 30%;
    }

    .footer-media {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 200px;

    }
        
}